@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-inter: var(--font-inter);
  --font-instrumentSerif: var(---font-instrument-serif);
}

body {
  font-family: var(--font-inter);
}
