@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes arrowAttack {
    0% { transform: translateY(calc(100vh - 332.098px)); } /* Start offscreen */
    100% { transform: translateY(-332.098px); } /* Move completely offscreen at the top */
  }

@keyframes moveX {
    from { left: 0; } to { left: 1000px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 400px; }
  }